body{
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
}
*{
    z-index: 1;
}
.container{
    width: 80%;
    margin: 0 auto; 
    position: relative;
}

.container span{
    font-size: 30px;
    margin: 18px;
    margin-right: 317px;
}

/*mudança de logo01*/
.imagelogo {
    height: 50px;
    width: 50px;
    margin: 10px -80px 0px -20px;
    margin-left: -115px;
}
.container:hover .imagelogo {
    visibility: hidden;
    opacity: 1;
}

/*mudança de logo02*/
.imagelogo2 {
    height: 49px;
    width: 31px;
    margin: 10px -75px 0px -10px;
}
.container .imagelogo2 {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
}
.container:hover .imagelogo2 {
    visibility: visible;
    opacity: 1;
}

button {
    background-color: #FFD600;
    color: #414141;
    height: 28px;
    width: 130px;
    border-radius: 15px;
    font-family: Chivo;
    font-size: 15px;
   /* height: 38px;*/
}
button:hover{
    background-color: #414141;
    color: #FFD600;
}

.header{
    color: #414141;
    box-shadow: 13px -5px 10px; 
    position: sticky; /*position e top faz fixar a navbar*/
    top: 0;
    z-index: 2;
    background-color: #fff;
}
.header .container { 
    display: flex;
    justify-content: space-between; 
}

.navbar{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.header a{ 
    text-decoration: none;
    color: #414141;
}
a:hover{
    color: #FFD600;
}
/* BANNER */

.banner{
    background-color:  #FFD600;
    height: 488px;
    width: 1000px;
    margin: 20px 254px 104px 254px;
    align-self:center;
    border-radius: 50px;
}
.banner .container{
    margin: 85px;
    text-align: center;
    flex-direction: column; 
    display: flex;
    position: relative;
}
.banner .container input{
    border-radius: 10px;
    border: 1px;
    width: 200px;
    height: 26px;
    margin: 0 auto;
}

/*configuração do olho ARRUMAR*/
/* #ipt_senha{
    width: 150px;
    padding-right: 20px;
}
  
.olho{
    cursor: pointer;
    left: 160px;
    position: absolute;
    width: 20px;
} */

.banner .container button{
    margin: 20px;
    background-color: #455A64;
    color: #FFD600;
    margin: 0 auto;
    margin-top: 20px;
}
.banner .container p{
    font-size: 50px;
    font-weight: lighter;
}
.banner .container label{
    margin: -25px 0 30px 0;
    color: #616161ab;
}
.container .img_login{
    margin: 90px 0px 0px 0px;
    margin-left: -117px;
    position: absolute;
    height: 430px; 
}
.container .form {
    margin-right: 140px;
    margin-bottom: 0px;
    font-size: 18px!important;
    color: #616161ab;
}

.banner .container .box-check{
    margin: -46px 24px 7px 495px;
    width: 170px;
    height: 21px;
    font-size: 12px;
}
.banner .container .ipt_cod{
    height: 20px;
    width: 23px;
    margin: -5px 10px 2px 558px;
}

/* FOOTER */

.footer{
    background-color: #37474F;
    height: 70px;
    color: #FFD600;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-evenly;
}
.footer .container{
    display: flex;
    justify-content: left;
}
.footer .container span{
    margin: 1;
    padding: 0;
    font-size: 15px;
}
.footer .container img{
    width: 25px;
    height: 25px;
    margin: 15px;
}